@import 'tailwindcss';
@import 'tw-animate-css';
@import './theme.css';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Instrument Serif';
  src: url('/fonts/Instrument_Serif/InstrumentSerif-Regular.ttf') format('truetype');
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-instrument-serif: 'Instrument Serif', sans-serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button,
  a {
    cursor: pointer;
  }
}
